<div class="fixed w-full top-0 left-0 z-10 ">
  <nav class="flex h-16 md:h-20 items-center bg-white dark:bg-gray-900 dark:text-gray-50 z-20 fixed top-0 left-0 right-0 border-b border-gray-100 px-0 py-2 dark:bg-dark dark:border-gray-800 transition-colors duration-200">
    <div class="hidden md:block space-y-4 w-full p-4">
      <a id="site-name-logo-container" class="no-underline text-gray-500  hover:text-gray-900 items-center hover:opacity-75" href="{{ '/' | url }}">
        <span class="text-xl site-name" id="site-name">{{ site.name }}</span>
      </a>
    </div>

    {% if site.enableSearch == 1 %}
      <div class="mr-4 relative w-full md:w-64">
        <input aria-label="Search" x-data="{ isOpen: true }" x-bind:class="{ 'hidden': !isOpen }" type="search" placeholder="Search docs..." class="ml-2 w-60 bg-gray-50 dark:bg-gray-800 appearance-none border dark:border-gray-700 rounded py-2 px-2 placeholder-gray-400 leading-tight focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-700 ring-opacity-50 border-gray-200" id="searchField">
        <ul tabindex="0" class="shadow-md p-0 w-full list-none m-0 absolute left-0 md:right-0 bg-white rounded-lg	mt-1 top-100 z-2" id="search-results"></ul>
        <div class="hidden shadow-md list-none p-4 m-0 absolute left-0 md:right-0 bg-white rounded-lg mt-1 border top-100 divide-y divide-gray-300 z-2" id="no-results-found">
          <p>No results found.</p>
        </div>
      </div>
    {% endif %}

    {# <button aria-label="Show navigation" onclick="showNavigation()" class="block md:hidden mr-3">
      <i class="ico">menu</i>
    </button> #}
  </nav>
</div>