<div
  *ngFor="let presence of visibleUsers; let i = index; trackBy: trackByFn"
  class="presence-indicator"
  [style.borderColor]="presence.sessionId | peerColorPipe: darkTheme"
  [style.left]="i | presenceIndicatorLeftPositionPipe"
>
  <cd-avatar
    [profileImgUrl]="presence.user?.photoUrl"
    [cdTooltip]="presence.user?.name"
    [menuData]="userMenu"
    (menuSelected)="onMenuSelect($event, presence)"
  ></cd-avatar>
</div>

<div
  #overflowIndicator
  *ngIf="overflowUsers.length"
  class="overflow-indicator"
  [style.left]="MAX_INDICATORS - 1 | presenceIndicatorLeftPositionPipe"
  (click)="onOverflowClick()"
>
  +{{ overflowUsers.length }}
</div>
